doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') Home
      li
        a(href='/employees') Employees
      li
        a(href='/about') About
      li
        a(href='/contacts') Contacts
    block content
